<div>
    
    <form>
        <div>
            <h1>Order quantity every two weeks</h1>
            <input type="radio" ng-model="smoothieOrder.frequency" value="five">5
        </div>

        <div>
            <input type="radio" ng-model="smoothieOrder.frequency" value="ten">10
        </div>

        <div>
            <input type="radio" ng-model="smoothieOrder.frequency" value="fifteen">15
        </div>
    </form>



    <form>
        <div>
            <h1>Smoothie size</h1>
            <input type="radio" ng-model="smoothieOrder.size" value="twelveOz">12oz
        </div>
        
        <div>
            <input type="radio" ng-model="smoothieOrder.size" value="twentyOz">20oz
        </div>
    
        <div>
            <input type="radio" ng-model="smoothieOrder.size" value="thirtyOz">30oz
        </div>
    </form>

    <h2> {{ smoothieOrder }}</h2>

    <form>
        <a ui-sref="profile">
            <input type="button" value="Next" ng-click="next()"/>
        </a>
    </form>

</div>